<h1>Editing Defected Item</h1>

<%= render 'form', defected_item: @defected_item %>

<%= link_to 'Show', @defected_item, class: 'btn btn-warning' %> |
<%= link_to 'Home', defected_items_path, class: 'btn btn-info' %>
