/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 */
 
 @import "bootstrap";
 @import "bootstrap/reboot";
 @import "bootstrap/type";
 @import "bootstrap/images";
 @import "bootstrap/code";
 @import "bootstrap/grid";
 @import "bootstrap/tables";
 @import "bootstrap/forms";
 @import "bootstrap/buttons";
 @import "font-awesome";

 .kkw__submit-btn {margin: 0 1em 1em 0}
 hr {margin-top: 1rem;margin-bottom: 1rem;border: 0;border-top: 1px solid rgba(0, 0, 0, 0.1)}
 .kkw__list-heading, .kkw__list-list {padding: .75rem 0}
 .kkw__tools {display: none; background: #fff; padding: 10px; border: 1px solid #c7c7c7; border-radius: 4px; position: absolute; top: -40px; right: -90px; -webkit-box-shadow: 0 2px 2px 1px #777;-moz-box-shadow: 0 2px 2px 1px #777;box-shadow: 0 2px 2px 1px #777; z-index: 999}
 .kkw__list-list {position: relative}
 .kkw__list-list:hover {background: #f1f1f1}
 .kkw__list-list a::after {color: #c7c7c7;content: "\f05a";font-family: 'FontAwesome';font-size: 1em;position: absolute; right: 10px}
 .kkw__tools a::after {content: ''}
 .defect__description {white-space: nowrap;overflow: hidden;text-overflow: ellipsis;max-width: 120px}

.digg_pagination { margin:2em 0 2em -3.5em}
.digg_pagination a, .digg_pagination span, .digg_pagination em {padding: 0.2em 0.5em;display: block;float: left;margin-right: 1px }
.digg_pagination .disabled {color: #999999;border: 1px solid #dddddd}
.digg_pagination .current {font-style: normal;font-weight: bold;background: #007bff;color: white;border: 1px solid #2e6ab1}
.digg_pagination a {text-decoration: none;color: #007bff;border: 1px solid #9aafe5}
.digg_pagination a:hover, .digg_pagination a:focus {color: #007bff;border-color: #007bff}
.digg_pagination .page_info {background: #007bff;color: white;padding: 0.4em 0.6em;width: 22em;margin-bottom: 0.3em;text-align: center}
.digg_pagination .page_info b {color: #007bff;background: #6aa6ed;padding: 0.1em 0.25em}
.digg_pagination:after {content: ".";display: block;height: 0;clear: both;visibility: hidden}
* html .digg_pagination {height: 1%}
*:first-child + html .digg_pagination {overflow: hidden}
  